h1 {
    color: #006666;
    text-align: center;
}

nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #009999;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #00cccc;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #006666;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #00b3b3;
}

article{
    margin-top: 100px;
}

body {
    background-color: #e6ffff;
}

h2 {
    background-color:  #00b3b3;
    color: #006666;
    margin-left: 0px;
}

section {
	background-color:  #00cccc;
	margin-left : 40px;
    margin-right: 40px;
}
