<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Medical Web Advisor</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Medical Web Advisor</h3>
      </div>
 
      <div class="jumbotron">
        <h1>Medical Web Advisor</h1>
        <form class="form-signin" method="post" action="/register/">
            <label for="inputName" class="sr-only">Username</label>
            <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Username" required autofocus>
       
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

             <label for="inputCountry" class="sr-only">Country</label>
            <input type="country" name="inputCountry" id="inputCountry" class="form-control" placeholder="Country" required>

            <label for="inputDateOfBirth" class="sr-only">Date of birth</label>
            <input type="dateOfBirth" name="inputDateOfBirth" id="inputDateOfBirth" class="form-control" placeholder="Date of birth" required autofocus>

             <p>Gender</p>
             <select name="genders">

              <option value="male"> Male </option>
              <option value="female"> Female </option>
              
              </select>
                  
            
            <input type="submit" id="btnSignUp" class="btn btn-lg btn-primary btn-block" value = "Register"/>
        </form>
      </div>
 
    </div>
  </body>
</html>